<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527878866066-aq02ea8ccqe66mpik6v8782lrsmc7q9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527878866066-aq02ea8ccqe66mpik6v8782lrsmc7q9v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>527878866066-lg5mad837p8urpn0122fml8m99f9gqdq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASS4HWdh_m_phOUkrLBjn4mx_qnXGhzy8</string>
	<key>GCM_SENDER_ID</key>
	<string>527878866066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.actividad1</string>
	<key>PROJECT_ID</key>
	<string>authentications-6b509</string>
	<key>STORAGE_BUCKET</key>
	<string>authentications-6b509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527878866066:ios:927a825013bcfa27b5d24b</string>
</dict>
</plist>